torch
torchvision
transformers
tensorboardX
opencv-python
Pillow
einops
timm
pytorch-pretrained-vit
numpy
pandas
openpyxl
scikit-learn
tqdm
ruamel.yaml
scikit-image
wandb
petrel-client
horovod[pytorch]
